<h1 style="background-color: blanchedalmond;width:100%;font-family:Black Ops One;">
    <h1 style="text-align: center;font-size: 80px"><br>MAP<br><br></h1> 
  </h1>
<div>
    <div class="row" >
      <div class="col-sm-4" >
        <h3 style="background-color: rgb(143, 245, 84);"><label style="font-family: 'Mitr', sans-serif;">สายการเดินรถที่ 1</label></h3>
        <div class="r">
            <img src="https://uppic.cc/d/KH5a" alt="Avatar" class="image">
            <div class="overlay1">
              <div class="text">สาย 1 หอพัก-ศูนย์อาหาร<br><br>หอพัก<br>ตึกสังคมศาสตร์<br>ห้องสมุด<br>ตึกคณะวิทยาศาสตร์ <br>ยิมสเตเดียม
               <br>ศูนย์อาหาร</div>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <h3 style="background-color: rgb(231, 129, 197);"> <label style="font-family: 'Mitr', sans-serif;">สายการเดินรถที่ 2</label></h3>
        <div class="r">
            <img src="https://uppic.cc/d/KH5b" alt="Avatar" class="image">
            <div class="overlay2">
              <div class="text">สาย 2 หอพักหญิง-ตึกสถาปัตย์<br><br>หอพักหญิง<br>โรงอาหาร<br>ตึกคณะแพทย์<br>ศูนย์หนังสือ<br>ตึกสถาปัตยกรรม</div>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <h3 style="background-color: #008CBA;"><label style="font-family: 'Mitr', sans-serif;">สายการเดินรถที่ 3</label></h3>        
        <div class="r">
            <img src="https://uppic.cc/d/KH5v"class="image">
            <div class="overlay3">
              <div class="text">สาย 3 ท่ารถตู้-หอพัก<br><br>ท่ารถตู้<br>โรงอาหาร<br>สำนักทะเบียน<br>ตึกเศรษฐศาสตร์<br>หอพัก</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br>