<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|
            crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|
            scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper' 
            rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Mitr" rel="stylesheet">
<ul style="font-size: 30px;font-family: 'Righteous', cursive;">
  <li><a style="background-color: rgb(218, 223, 213); margin-left: -15px" [routerLink] = "['/home']"> <div class="fa fa-home" style="margin-left:15px;  padding: 14px 16px;"> <label>Home</label> </div>  </a></li>
  <li><a  [routerLink] = "['/course']"><a class='fa fa-user'> <label>Driver</label></a></a></li>
  <li><a [routerLink] = "['/add']"><a class='fa fa-teamspeak'> <label>About</label></a></a></li>
</ul>
<div style="margin-top:90px;">
 <router-outlet></router-outlet>  
</div>
