<h1 style=" background-color: #222222;
            background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
            width:100%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
  <h1 style="text-align: center"><br><label style="color: white;font-family:Black Ops One;font-size: 60px">TIME</label><br><br><br>
</h1>
<body>

    <div class="bgimg">
      <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p>9999999 days left</p>
      </div>
    </div>
    
    </body>