<style>
  table {
    
    border: 10px solid grey;
  }
  th , td  {
    border: 2px solid grey;
    border-collapse: collapse;
    padding: 5px;
    
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h1 style="  background-color: #222222;
background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;width:100%; font-family:Black Ops One;">
  <h1 style="text-align: center;font-size: 60px;color: white"><br>Status<br>
</h1>
<h1 style="  background-color: #222222;
background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;padding-left: 74px">
  <label style="font-size: 50px;color:white" >filter : </label> <input type="text" style="border-radius: 10px; border: none;outline: none; padding : 9px 9px" placeholder="  input Route " [(ngModel)]="searchTerm" /><br>
</h1>

<h1 style="  background-color: #222222;
background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;padding-left: 100px">
  <table class="container">
      <th style="background-color: azure">CARID</th>
      <th style="background-color: azure">ROUTE</th>
      <th style="background-color: azure">DriverNAME</th>
      <th style="background-color: azure">passengerSTATUS</th>
      <th style="background-color: azure">CurrentLocation</th>
      <th style="background-color: azure">nextLocation</th>
    <tr *ngFor="let c of onlineList | ngvFilter:searchTerm" >
      <td>{{ c.getCarid()}}</td>
      <td>{{ c.getRoute()}}</td>
      <td>{{ c.getName() }}</td>
      <td>{{ c.getCarstatus() }}</td>
      <td>{{ c.getCurrentLoc()}}</td>
      <td>{{ c.getNextLoc()}}</td>
    </tr>
  </table>
</h1><br>